<form action="/message" method="post">
  <label>
    Title:
    <input type="text" name="title" />
  </label>
  <label>
    Message:
    <input type="text" name="text" />
  </label>
  <button type="submit">Add Meesage</button>
</form>
<a href="/user">Go Back</a>
